<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.example.ssa">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature
            android:name="android.hardware.microphone"
            android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic"
            android:label="家族トーク"
            android:roundIcon="@mipmap/ic"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">
        <activity android:name=".SeeDainay"></activity>
        <activity android:name=".Look"></activity>
        <activity android:name=".add_group"></activity>
        <activity android:name=".account_info"></activity>
        <activity android:name=".Register"></activity>
        <activity android:name=".login"></activity>
        <activity android:name=".option"></activity>
        <activity android:name=".write"></activity>
        <activity android:name=".Talk"></activity>
        <activity android:name=".listen"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>